@font-face {
    font-family: Inter;
    src: url('Inter-VariableFont.ttf');
}


body {
    margin: 0px;
    padding: 0px;
    background-color: #EAF2D7;
}

html {
    scroll-behavior: smooth;
}

.Introduction, .Presentation, .ListeProjet, .Contact {
    margin: auto;
}

a {
    text-decoration: none;
    color: #96AA68;
}



.button {
    font-family: Inter;
    margin: auto;
    text-align: center;
    
    text-decoration: none;
    display: inline-block;
    background-color: #EBF2DA;
    padding: 10px;
    border: solid 2px #96AA68;
    color : #96AA68;
    border-radius: 7px;
    cursor: pointer;
}

.button:hover {
    background-color: #96AA68;
    color: #EBF2DA;
}


h1 {
    font-family: Inter;
    color: #96AA68;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 18px;
}

h2 {
    font-family: Inter;
    color: #BCD979;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    
}

p {
    font-family: Inter;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 26px;
    align-items: center;
}



/*media queries*/

@media screen and (max-width: 500px) {
    h1 {
        color: var(--green-small-title, #96AA68);
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 17.6px;
    }
    h2 {
        color: var(--green-title, #BCD979);
        /* Mobile Titre intermédiaire */
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 17.6px;
    }
    p {
        
        /* Mobile Text */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        }
}